{% extends "UserBundle::crud.html.twig" %}

{% block Title %}
   {{'Boost_Posts'|trans}}
{% endblock %}


{% block actions %}
{% endblock %}


{% block thead %}
    <th>   {{'Boost_Content'|trans}}</th>
    <th width="10%">{{'Boost_actions'|trans}}</th>
{% endblock %}

{% block tbody %}
    {% set posts =  app.session.get('posts') %}
    {% if posts is not null %}
        {% for post in posts %}
            <tr>
                <td>{{ post.post_content }}</td>
                <td>
                    {% if post.post_boost_type == 'Remove Boost' %}
                        <button type="submit" formmethod="post" formaction="{{ path('remove_boost_post',{'post':post.post_id  })}}"  class="btn btn-danger btn-xs removeBoost" title="remove boosting">{{'Boost_remove'|trans}} remove boosting </button>
                        <button type="submit" formmethod="post" formaction="{{ path('charts',{'post':post.post_id  })}}"  class="btn btn-danger btn-xs " title="charts">charts </button>
                    {% else %}
                        <button type="submit" formmethod="post" formaction="{{ path('boost_post',{'post':post.post_id  })}}"  class="btn btn-default btn-xs boost" title="Boost">{{'Boost'|trans}}  </button>

                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block privacy  %}
{% endblock %}