{% extends "UserBundle::userbase.html.twig" %}


{% block style %}
{% endblock %}


{% block Title %}
    {{'Complaint_Detail'|trans}}
{% endblock %}

{% block pageContent %}
    {% set complaint = app.session.get('complaint_detail') %}
    <div class="x_panel" style="margin-top: 70px">
        <div class="container" >
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!--*****************************-->
                    <div class="my-list">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h3 id="bigtitle"> 
                                <div style="display:inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;display: inline-block;max-width: 100%;" >
                                    {{ complaint.title }} <small>- to complaint {{ complaint.userToComplaint.firstname }} {{ complaint.userToComplaint.lastname }}</small> 
                                </div>
                                {% if complaint.user.id == user.id %}
                                <div  class="text-right">
                                    <a onclick="deletfcc()"><i style="font-size:20px" class="fa fa-trash"></i></a></div>
                                    <a style="display:none" id="deletcomplain" href="{{ path('delete_complaint',{'complaint':complaint.id}) }}"><i style="font-size:20px" class="fa fa-trash"></i></a></div>
                                {% endif %}
                            </h3>
                
                            <div id="Detail">
                                <strong>{{'Created_By'|trans}}: {{ complaint.user.firstname }} {{ complaint.user.lastname }}</strong>
                                <br>
                               <p style="word-wrap:break-word"> {{ complaint.description }} <p>
                                {% if complaint.file is not null %}
                                    <br> <small  style="word-wrap:break-word;overflow: hidden;text-overflow: ellipsis;display: inline-block;max-width: 100%;">{{'File'|trans}} : <strong><a href="{{ asset('attachements/fcc/') }}{{ complaint.file }}" download><i class="fa fa-download"></i></a></strong></small>
                                {% endif %}
                            </div>
                        </div>
                        <!--*****************************-->
                    </div>

                </div>
                <!--*******2******-->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <div> <!-- row 2-->
                            <div class="row bootstrap snippets">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="comment-wrapper">
                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                <h4>{{'complaints'|trans}}</h4>
                                            </div>
                                            <!-- set comments -->
                                            {% set complaint_reviews = app.session.get('complaint_reviews') %}
                                            <div class="panel-body">
                                                <form>
                                                    <div >
                                                        <textarea class="form-control" placeholder="{{'product_write_comment'|trans}}..." rows="3" style="resize:none" id="complaintcomment"></textarea>
                                                        <a><button type="button" class="btn btn-info btn-xs pull-right" onclick="commentComplaint({{ complaint.id }})"><h5>{{'Comment'|trans}}</h5></button></a>
                                                    </div>
                                                </form>
                                                <div class="clearfix"></div>
                                                <hr>

                                                <ul class="media-list" id="complaint_comments_list">
                                                    {% for comment in complaint_reviews %}
                                                        <li class="media">
                                                            <a href="#" class="pull-left">
                                                                {% if comment.user.image is null  %}{% set image = 'default.png' %} {% else %} {% set image = comment.user.image %}{% endif %}
                                                                <img src="{{ asset('images/profile/') }}{{ image }}" class="img-circle" style="width: 50px;height: 50px;object-fit: cover;">
                                                            </a>
                                                            <div class="">
                                                                <div class="names">
                                                                    <b>{{ comment.user.firstname }} {{ comment.user.lastname }}</b>
                                                                </div>

                                                                <p style="word-wrap:break-word">
                                                                    {{ comment.review }}
                                                                </p>
                                                            </div>
                                                        </li>
                                                        <div style="border-bottom:2px solid #E6E9ED;border-radius:5px;margin:5px 0 5px 0"></div>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div> <!--end row-->
                </div>
            </div>
            <!--*******2*****-->

        </div>
    </div>
{% endblock %}

{% block privacy  %}
{% endblock %}

{% block scripts %}
    <script>

        function deletfcc(){
                swal({
                title: "Are you sure?",
                text: "Are you sure that you want to delete this complain?",
                icon: "warning",
                buttons: ["NO", "YES !"],
                dangerMode: true,
                })
                .then(willDelete => {
                    if (willDelete) {
                        document.getElementById("deletcomplain").click();
                    }
                });
        }

        function commentComplaint(complaint) {
            if($('#complaintcomment').val() != '')
            {
                $('#complaintcomment').prop('disabled', true);
                $.ajax({
                    url:'{{ (path('complaint_comment')) }}',
                    type: 'POST',
                    dataType: 'json',
                    data:{
                        'comment':$('#complaintcomment').val(),
                        'complaint':complaint
                    },
                    async: true,
                    success: function (data)
                    {
                        if(data == 'ERR')
                            alert('Please , try again')
                        else
                        {
                            //add comment
                            var output = '<li class="media"><a href="#" class="pull-left">'
                            if('{{ user.image }}' == null || '{{ user.image }}' == '')
                                image = 'default.png'; else image = '{{ user.image }}';
                            output += '<img src="{{ asset('images/profile/') }}'+image+'"  alt="" class="img-circle" style="width: 50px;height: 50px;object-fit: cover;"></a><div class=""><div class="names">'
                            output += '<b>{{ user.firstname }}'.concat(' ').concat('{{ user.lastname }}').concat('</b></div>')
                            output += '<p style="word-wrap:break-word">'.concat($('#complaintcomment').val()).concat('</p></div><div style="border-bottom:2px solid #E6E9ED;border-radius:5px;margin:5px 0 5px 0"></div></li>')

                            $('#complaint_comments_list').prepend(output);
                            $('#complaintcomment').val('')

                        }

                        $('#complaintcomment').prop('disabled', false);
                    }
                });
            }
        }
    </script>
{% endblock %}