{% extends "UserBundle::userbase.html.twig" %}

{% block Title %}
    FCC
{% endblock %}


{% block style %}
    <link rel="stylesheet" href={{ asset('Userscripts/css/Detail.css') }}>
{% endblock %}

{% block pageContent %}
    {% set complaints = app.session.get('complaints') %}
    <div class="x_panel" style="margin-top: 50px">
        <div class="container" >
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <form class="form-inline" id="search" action="{{ path('search_complaints') }}" method="post">
                        <input class="form-control" type="search" placeholder="user complainted" id="filtercomplaint" name="filtercomplaint" required>
                        <a ><button class="btn btn-outline-primary" type="submit"><i class="fa fa-search"></i></button></a>
                    </form>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right">
                    <a  class="btn btn-primary" href="{{ path('add_complaint') }}">Submit new complaint</a>
                </div>

            </div>
            <div class="row">

                {% if complaints|length == 0 %}
                    <h3 class="text-center">There's no complaints to display</h3>
                    <a href="{{ path('complaints') }}">Back to complaints</a>
                    {% else %}
                        {% for complaint in complaints %}
                            <div class="my-list">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <h3 id="bigtitle">{{ complaint.title }}</h3>
                                    <div id="Detail">
                                        {{ complaint.description }}
                                    </div>
                                    <a class="btn btn-info" style="float:right" href="{{ path('complaint_detail',{'complaint': complaint.id}) }}">Details</a>
                                </div>
                            </div>
                        {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


{% block privacy  %}
{% endblock %}