{% extends "UserBundle::userbase.html.twig" %}

{% block Title %}
    FCC
{% endblock %}


{% block style %}
    <link rel="stylesheet" href={{ asset('Userscripts/css/Detail.css') }}>
{% endblock %}

{% block pageContent %}
    {% set complaints = app.session.get('complaints') %}
    <div class="x_panel" style="margin-top: 50px">
        <div class="container" >
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <form class="form-inline" id="search" action="{{ path('search_complaints') }}" method="post">
                        <input class="form-control" type="search" placeholder="user complainted" id="filtercomplaint" name="filtercomplaint" required>
                        <a ><button class="btn btn-outline-primary" type="submit"><i class="fa fa-search"></i></button></a>
                    </form>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right">
                    <a  class="btn btn-primary" href="{{ path('add_complaint') }}">Submit new complaint</a>
                </div>

            </div>
            <div class="row">

                {% if complaints|length == 0 %}
                <div class="text-center">
                    <h3 style="display:inline">There's no complaints to display <a href="{{ path('complaints') }}">Back to complaints</a></h3>
                </div>
                    
                    {% else %}
                        {% for complaint in complaints %}
                            <div >
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="border:2px solid #E6E9ED;border-radius:5px;padding:5px;margin:5px">
                                    <h3 id="bigtitle">{{ complaint.title }}</h3>
                                    <div style="word-wrap:break-word">
                                        <span style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;display: inline-block;max-width: 100%;">{{ complaint.description }}</span>
                                    </div>
                                    <div style="border-bottom:2px solid #E6E9ED;border-radius:5px;margin-top:5px"></div>
                                    <a class="btn btn-info" style="float:right" href="{{ path('complaint_detail',{'complaint': complaint.id}) }}">Details</a>
                                </div>
                            </div>
                        {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


{% block privacy  %}
{% endblock %}