{% extends "UserBundle::userbase.html.twig" %}

{% block style %}
    <link rel="stylesheet" href={{ asset('Userscripts/css/starability-all.css') }}>
    <!-- Rting -->
    <link href="{{ asset('Userscripts/rating/css/labs.css') }}" rel="stylesheet">
    <!--end Rting -->
    <link rel="stylesheet" href="{{ asset('Userscripts/css/Detail.css') }}">
{% endblock %}
{% block Title %}
    {% set details = app.session.get('pan_details') %}
    {{ details.pan.name }}  {{ details.pan.othername }}
{% endblock %}

{% block pageContent %}
    {% set details = app.session.get('pan_details') %}
    {{ dump(details) }}
    <div class="x_panel" style="margin-top: 50px">
        <div class="container" >
            <div class="row">
                <button type="button" class="btn btn-primary" style=" float:right"><a href="{{ path('dockies',{'type':'dockies'}) }}" style="text-decoration:none;color:white;">Back</a></button>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="my-list">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <img src="{{ asset('images/pans/') }}{{ details.pan.image }}" class="img-responsive" width="800" height="500"/>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <h3 id="bigtitle">{{ details.pan.name }} <small>- {{ details.pan.othername }}</small></h3>
                            <div id="Detail">
                                {{ details.pan.description }}
                            </div>
                            {% if details.pan.attachement is not null %}
                                <div id="categries">
                                    <h6><i class="fa fa-file"></i>  <a href="{{ asset('attachements/pans/') }}{{ details.pan.attachement }}" download>Supporting document</a> </h6>
                                </div>
                            {% endif %}
                            <div id="categries">
                                <h4>Category :</h4> {{ details.pan.category }}
                            </div>
                            <span class="pull-left">{{ details.pan.price }} $</span>
                            <span class="pull-right">Quntity : {{ details.pan.quentity }} </span>
                            <div class="offer">
                                {% if details.rating.average > 0 %}
                                    <div class="pan-stars"  data-score="{{ details.rating.average }}"></div>
                                    {% else %}
                                        <small>There is no average rating yet</small>
                                {% endif %}
                            </div>
                            <!--<a href="#" class="btn btn-info" style="float:right"><i class="fa fa-share"></i></a>-->
                            <div>
                                <a href="#" class="btn btn-info">contact seller</a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div> <!-- row 2-->
                        <div class="row bootstrap snippets">
                            <div class="col-md-12">
                                <div class="comment-wrapper">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h4>Reviews</h4>
                                        </div>
                                        <div class="panel-body">
                                            <form>
                                                {% if user.id != details.pan.user.id %}
                                                    <div class="row">
                                                        <h4> Your rate :</h4>
                                                        {% if details.rating.type == "rate" %}
                                                            <div class="pan-rate" id="{{ details.pan.id }}" data-score="0"></div>
                                                            {% else %}
                                                                <div class="pan-stars"  data-score="{{ details.rating.value }}"></div>
                                                        {% endif %}
                                                    </div>
                                                {% endif %}
                                                <textarea class="form-control" placeholder="write a comment..." rows="3" id="panreview"></textarea>
                                                <button type="button" class="btn btn-info btn-xs pull-right" onclick="setreview({{ details.pan.id }})" id="review"><h5>Submit Review</h5></button>
                                            </form>
                                            <div class="clearfix"></div>
                                            <hr>
                                            <ul class="media-list" id="addcomment">

                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div> <!--end row-->
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <!-- Fix rating script script-->
    <script src={{ asset('Userscripts/rating/javascripts/labs.js') }}></script>
    <script src={{ asset('Userscripts/rating/javascripts/jquery.raty.js') }}></script>
    <script>
        $('.pan-stars').raty({
            readOnly: true,
            score: function() {
                return $(this).attr('data-score');
            },

        });
        $('.pan-rate').raty({
            click: function(score, evt)
            {
               //alert('ID: ' + this.id + "\nscore: " + score + "\nevent: " + evt);
                $.ajax({
                    url:'{{ (path('rate_pan')) }}',
                    type: 'POST',
                    dataType: 'json',
                    data:{
                        'pan': this.id,
                        'value': score,
                    }
                });
            }
        });
    </script>
    <!-- review -->
    <script>
       function setreview(pan){
           if($('#panreview').val() != '')
           {
               $('#panreview').prop('disabled', true);
               $('#review').prop('disabled',true)
               $.ajax({
                   url: '{{ path('review_pan') }}',
                   type: 'POST',
                   dataType: 'json',
                   data: {
                       'pan': pan,
                       'review': $('#panreview').val()
                   },
                   success:function (data)
                   {
                       if(data == 'Done' || data >= 0)
                       {
                           var output = '<li class="media"><a class="pull-left">'
                           var image = '{{ currentimage }}'
                           output += '<img src="{{ asset('images/profile/') }}'+image+'" alt="" class="img-circle"></a>'
                           output += '<div class="media-body"><div class="names">'
                           output += '{{ user.firstname }}' + ' ' + '{{ user.lastname }}'
                           if(data > 0)
                           {
                               output += '<div class="pan-stars"  data-score="'+data+'"></div>'
                           }
                           output +=  '</div></div>'
                           output += '<p>'+$('#panreview').val()+'</p></div></li>'
                           $('#addcomment').prepend(output);
                       }
                       else
                           alert('You cannot set a review now , please try in another time , Thanks !')

                       $('#panreview').val('')
                       $('#panreview').prop('disabled', false)
                       $('#review').prop('disabled',false)
                   }
               });
           }
       }
    </script>
{% endblock %}

{% block privacy  %}
{% endblock %}