{% extends "UserBundle::userbase.html.twig" %}
{% block Title %}Groups{% endblock %}

{% block pageContent %}
    <div style="margin-top:80px">
        <div class="x_panel">
            <div class="x_title">

                <div style="float: right">
                    <button type="button" class="btn btn-success create" onclick="$('#creategroupe').modal('show')"><i class="fa fa-plus"></i>  Create Group</button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <!-- required for floating -->
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tabs-left">
                        <li class="active"><a href="#discover" data-toggle="tab" title="Discover">{{'discover_title'|trans}}</a>
                        </li>
                        <li ><a href="#groupsmanage" data-toggle="tab" title="Groups You manage">{{'Groups_you_manage'|trans}}</a>
                        </li>
                        <li><a href="#pending" data-toggle="tab" title="Pending Invites">{{'Groups_Pending_Invites'|trans}}</a>
                        </li>
                        <li><a href="#yourgroups" data-toggle="tab" title="Your Groups">{{'Groups_Your_Groups'|trans}}</a>
                        </li>
                    </ul>
                </div>

                <div class="col-xs-9">
                    <!-- Tab panes  -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="discover">
                            <div class="row">
                                    <div class="col-md-12 text-right"  style="margin-top:5px">
                                        <form class="form-inline" method="post" action="{{ path('filter_groups') }}">
                                            <div class="input-group">
                                                <input class="form-control"  type="search" placeholder="Search" aria-label="Search" name="filtergroup" id="filtergroup" required>
                                                <span class="input-group-btn">
                                                    <button class="btn btn-outline-primary" type="submit"><i class="fa fa-search"></i></button>
                                                    <a href="{{ path('clear') }}"><button class="btn btn-outline-primary" type="button">clear</button></a>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                    
                            <div class="row" id="filterRow"> <!--group rows-->
                                <div id="firstresult">
                                    {% set filter_result = app.session.get('groups_filter') %}
                                    {% if app.session.get('filter_text') is not empty and app.session.get('filter_text') is not null  %}
                                    <div class="col-md-12">
                                        <h5> "<strong>{{ app.session.get('filter_text') }}</strong>" Search Results : {% if filter_result is empty or filter_result is null  %}Opss looks like there's no results. {% endif %}  </h5>
                                    </div>
                                        {% else %}
                                            <div class="text-center"><h5>Try to discover groups ..</h5></div>
                                    {% endif %}
                                        

                                        {% if filter_result is not empty or filter_result is not null  %}
                                                {% for item in filter_result %}
                                                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
                                                        <div style="border:2px solid #E6E9ED;border-radius:5px;padding:5px;">
                                                                <div >
                                                                    <img src="{{ asset('images/group/') }}{{ item.group.image }} "class="img-responsive img" style="object-fit:cover;width:150px; height:100px;border-radius:3px;"/>
                                                                    <div style="border-bottom:2px solid #E6E9ED;border-radius:5px;margin-top:5px"></div>
                                                                    <a {% if item.joinType == 'join' or item.group.user.id == user.id %} href="{{ path('view_group',{'group':item.group.id}) }}" {% endif %}><h4>{{ item.group.name }}</h4></a>
                                                                    <div class=" text-right">
                                                                        <div class="btn-group">
                                                                            {% if item.group.user.id != user.id %}
                                                                                    {% if item.joinType == 'Request' %}
                                                                                        <div>
                                                                                            <a class="btn btn-success btn-sm" href="{{ path('join_group',{'group':item.group.id}) }}"  title="join group"><i class="fa fa-user-plus" ></i></a>
                                                                                        </div>
                                                                                    {% endif %}
                                                                                    {% if item.joinType == 'Requested' %}
                                                                                        <div>
                                                                                            <a class="btn btn-danger" href="{{ path('cancel_request_group',{'group':item.group.id}) }}"   title="Cancel join request"><i class="fa fa-minus"></i></a>
                                                                                        </div>
                                                                                    {% endif %}
                                                                                    {% if item.joinType == 'join' %}
                                                                                        <div>
                                                                                            <a class="btn btn-danger" href="{{ path('exit_group',{'group':item.group.id}) }}"  title="exit group"  ><i class="fa fa-sign-out"></i></a>
                                                                                        </div>
                                                                                    {% endif %}
                                                                            {% endif %}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- -->
                        <div class="tab-pane " id="groupsmanage">
                            <div class="row">
                                {% set groupsManage = app.session.get('GroupsManage') %}
                                {% if groupsManage|length > 0 %}
                                        {% for group in groupsManage %}
                                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6" id="groupdiv{{ group.id }}">
                                                <div style="border:2px solid #E6E9ED;border-radius:5px;padding:5px;"><div>
                                                    <img src="{{ asset('images/group/') }}{{ group.image }}" class="img-responsive"  style="object-fit:cover;width:150px; height:100px;border-radius:3px;"/>
                                                     <div style="border-bottom:2px solid #E6E9ED;border-radius:5px;margin-top:5px"></div>
                                                    <h4>{{ group.name }}</h4>
                                                    <!--<div class=""><h5>72000 Member</h5></div>-->
                                                    <div class="text-right">
                                                        <div class="btn-group">
                                                        <a href="{{ path('delete_group',{'group':group.id}) }}" class="btn btn-danger"  title="Delete Group"><i class="fa fa-times"></i></a>
                                                        <a href="{{ path('view_group',{'group':group.id}) }}" class="btn btn-primary" title="View Group"><i class="fa fa-eye"></i></a>
                                                        </div>
                                                    </div>

                                                </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="text-center"><h5>You are not currently managing any group</h5></div>
                                {% endif %}
                            </div>
                        </div>

                        <!-- -->
                        <div class="tab-pane " id="pending">
                            <div class="row" style="margin-top: 8%;margin-left: 3%">
                                {% set invites = app.session.get('pendingInvites') %}
                                {% if invites is empty %}
                                    <div class="text-center"><h5>Currently there s no invites to manage</h5></div>
                                    {% else %}
                                        {% for item in invites  %}
                                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6" >
                                                <div style="border:2px solid #E6E9ED;border-radius:5px;padding:5px;"><div>
                                                        {% if item.user.image is null or item.user.image is empty %} {% set image = 'default.png' %} {% else %} {% set image =  item.user.image  %} {% endif %}
                                                        <img src="{{ asset('images/profile/') }}{{ image }}" class="img-responsive"  style="object-fit:cover;width:150px; height:100px;border-radius:3px;"/>
                                                        <div style="border-bottom:2px solid #E6E9ED;border-radius:5px;margin-top:5px"></div>
                                                        <h4>{{ item.user.firstname }} {{ item.user.lastname }}</h4>
                                                        <div class="text-right">
                                                            <div class="btn-group">
                                                                <a  class="btn btn-danger"  href="{{ path('decline_invitation',{'invitation':item.id}) }}"  title="Decline invitation"><i class="fa fa-times"></i></a>
                                                                <a class="btn btn-success" href="{{ path('accept_invitation',{'invitation':item.id}) }}" title="Accept invitation"><i class="fa fa-check"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <!-- -->
                        <div class="tab-pane " id="yourgroups">
                            <div class="row">
                                {% set yourgroups = app.session.get('yourgroups') %}
                                {% if yourgroups is not null and yourgroups is not empty  %}
                                        {% for group in yourgroups %}
                                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6" >
                                                <div style="border:2px solid #E6E9ED;border-radius:5px;padding:5px;"><div>
                                                        <img src="{{ asset('images/group/') }}{{ group.group.image }}" class="img-responsive"  style="object-fit:cover;width:150px; height:100px;border-radius:3px;"/>
                                                        <div style="border-bottom:2px solid #E6E9ED;border-radius:5px;margin-top:5px"></div>
                                                        <h4>{{ group.group.name }}</h4>
                                                        <div class="text-right">
                                                            <div class="btn-group">
                                                                <a href="{{ path('view_group',{'group':group.group.id}) }}" class="btn btn-primary" title="View Group"><i class="fa fa-eye"></i></a>
                                                                <a class="btn btn-danger" href="{{ path('exit_group',{'group':group.group.id}) }}"  title="exit group"  ><i class="fa fa-sign-out"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="text-center"><h5>Currently you are not joignin any group</h5></div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- Create Group Modal -->
    <div id="creategroupe" class="modal fade" role="dialog">
        <div class="modal-dialog " >
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form  data-parsley-validate class="form-horizontal form-label-left" enctype="multipart/form-data" method="post" action="{{ path('new_group') }}">
                    <div class="modal-body">

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{'Groups_Image'|trans}}<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="file" id="groupimage" required="required" class="form-control col-md-7 col-xs-12" name="groupimage" accept="image/*" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{'Groups_Name'|trans}}<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="groupname" required="required" class="form-control col-md-7 col-xs-12" name="groupname" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">{{'Groups_Description'|trans}}<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <textarea class="form-control col-md-7 col-xs-12" row="3" id="groupdescription" name="groupdescription" required></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">{{'Groups_Privacy'|trans}}</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div id="gender" class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                            <input type="radio" name="acc" value="private" required> &nbsp;{{'Groups_Private'|trans}}  &nbsp;
                                        </label>
                                        <label class="btn btn-success" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                            <input type="radio" name="acc" value="public" required> {{'Groups_Public'|trans}}
                                        </label>
                                    </div>
                                    </br></br>
                                </div>
                                
                            </div>
                    </div>
                    <div class="modal-footer">
                       <button type="submit" class="btn btn-primary" >{{'Groups_Save'|trans}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



{% endblock %}

{% block privacy  %}
{% endblock %}


{% block scripts  %}
    <script>

    // delete acc confirmation:
        function exit_groupbtn(){
            swal({
            title: "Are you sure?",
            text: "Are you sure that you want to exit this group ?",
            icon: "warning",
            buttons: ["NO", "YES !"],
            dangerMode: true,
            })
            .then(willDelete => {
                if (willDelete) {
                    document.getElementById("exit_groupbtn1").click();
                }
            });
        } //end delet acc confirmation
    // delete acc confirmation:
        function clickdeletmygroup(){
            swal({
            title: "Are you sure?",
            text: "Are you sure that you want to delete this group ?",
            icon: "warning",
            buttons: ["NO", "YES !"],
            dangerMode: true,
            })
            .then(willDelete => {
                if (willDelete) {
                    document.getElementById("deletmygrp").click();
                }
            });
        } //end delet acc confirmation
    </script>
{% endblock %}