{% extends "UserBundle::userbase.html.twig" %}

{% block style %}
    <link href={{ asset('Userscripts/js/photos/ekko-lightbox.css') }} rel="stylesheet">
    <script src={{ asset('Userscripts/js/photos/ekko-lightbox.js') }}></script>
{% endblock %}

{% block Title %}
    {% set view_group = app.session.get('view_group') %}
    {{ view_group.group.name }}
{% endblock %}

{% block pageContent %}
    {% set view_group = app.session.get('view_group') %}
    <div style="margin-top:80px">
        <div class="container bootstrap snippet">
            <div style="float: right;margin-top: 5px">
                <a ><button type="button" class="btn btn-sm" onclick="$('#configModal').modal('show')"><i class="fa fa-cog"></i></button></a>
            </div>
            <div class="panel profile-info">
                <form id="postform" data-parsley-validate class="form-horizontal form-label-left" enctype="multipart/form-data" method="post" action="{{ path('save_post',{'group': view_group.group.id } ) }}">
                    <textarea style="border:none" class="form-control input-lg p-text-area" rows="2" placeholder="What's in your mind today?" name="post_description" id="description" required></textarea>
                    <div id="cover">
                        <div class="gallery"></div>
                        <div id="add_photo"><i class="fa fa-plus" aria-hidden="true"></i></div>
                    </div>
                    <div id="post_line"></div>
                    <div id="up_area"> <!-- upload -->
                        <div style="display:inline-block;">
                            <div class="form-inline">
                                <img src="{{ asset('Userscripts/img/upimg.svg') }}" width="20px" height="20px" style="display:inline" onclick="document.getElementById('gallery-photo-add').click();">
                                <input type="file"  name="uploadimage[]"  id="gallery-photo-add" style="display:none" accept="image/*" multiple>
                                <h9 id="upload_title">Photo</h9>
                            </div>
                        </div>
                        <!--Video -->
                        <div style="display:inline-block;">
                            <div class="form-inline">
                                <img src="{{ asset('Userscripts/img//upvideo.svg') }}" id="video_prev" width="20px" height="20px" onclick="document.getElementById('post_video').click();">
                                <input type="file" id="post_video" name="post_video"  onchange="readVideoURL(this);"  accept="video/mp4" style="display:none;">
                                <h9 id="upload_Video_title">Video</h9>
                            </div>
                        </div>
                        <!--Video -->
                    </div><!--end upload -->

                    <button type="submit" class="btn btn-info" id="postpan" >Post</button>

                </form>
            </div>


            <!-- Posts -->
            {% if view_group.posts|length > 0 %}
                {% for item in view_group.posts %}
                    
                {% endfor %}
                {% else %}
                    <h3>Sorry there's no posts to display now !</h3>
            {% endif %}
        </div>
    </div>



    <!-- Config form -->
    <div id="configModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{ view_group.group.name }} </h4>
                </div>
                <div class="modal-body">
                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">About</a>
                            </li>
                            <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Members ({{ view_group.members|length }})</a>
                            </li>
                            {% if view_group.group.user.id == user.id %}
                                <li role="presentation" class=""><a href="#tab_content3" role="tab" id="config-tab" data-toggle="tab" aria-expanded="false">Configuration</a>
                                </li>
                            {% endif %}
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                                <ul class="list-unstyled timeline">
                                    <li>
                                        <div class="block">
                                            <div class="tags">
                                                <a href="" class="tag">
                                                    <span>Created By</span>
                                                </a>
                                            </div>
                                            <div class="block_content">
                                                <div class="byline">
                                                    <span>on  {{ view_group.group.creationDate }} </span> by {{ view_group.group.user.lastname }} {{ view_group.group.user.firstname }} <a> <!--(<strong>ACE MEMBER</strong>)--></a>
                                                </div>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block">
                                            <div class="tags">
                                                <a href="" class="tag">
                                                    <span>Description</span>
                                                </a>
                                            </div>
                                            <div class="block_content">
                                                <div class="byline">
                                                    <p>
                                                        {{ view_group.group.description }}
                                                    </p>
                                                </div>
                                                </p>
                                            </div>
                                        </div>
                                    </li>

                                </ul>

                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">

                                <table class="table table-hover" id="memberslist">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in  view_group.members%}
                                            <tr id="retirer{{ item.user.id  }}">
                                                <td>{{ item.user.firstname }} {{ item.user.lastname }}</td>
                                                <td>
                                                    {% if view_group.group.user.id == user.id %}
                                                        <button type="button" class="btn btn-round btn-danger btn-xs remove" title="remove from group" onclick="removeMember({{ view_group.group.id }},{{ item.user.id }})"><i class="fa fa-minus"></i></button>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="config-tab">
                                <form action="{{ path('configuration',{'group': view_group.group.id }) }}" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <input type="file" name="image"  class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="name"  placeholder="Change name" value="{{ view_group.group.name }}" class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <textarea  placeholder="Update Descreption" name="description"  class="form-control" required>{{ view_group.group.description }}</textarea>
                                    </div>
                                    <div class="form-group pull-right">
                                        <button type="submit" class="btn btn-success" ><i class="fa fa-check"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

{% endblock %}


{% block scripts %}
    <script>
        function removeMember (group,user)
        {

        swal({
            title: "Are you sure?",
            text: "Are you sure that you want to remove this member ?",
            icon: "warning",
            buttons: ["NO", "YES !"],
            dangerMode: true,
            })
            .then(willDelete => {
                if (willDelete) {
                    //**********
                    $('#retirer'.concat(user)).remove();
                    $.ajax({
                        url:'{{ (path('remove_member')) }}',
                        type: 'POST',
                        dataType: 'json',
                        data:
                            {
                                'group':group,
                                'user':user
                            },
                        async: true
                    });
                    //******
                }
        });
            
            
        }
    </script>

    <!-- media -->
    <script>


        $(function() {
            // Multiple images preview in browser
            var imagesPreview = function(input, placeToInsertImagePreview) {
                $("#cover").css({});
                if (input.files) {
                    var filesAmount = input.files.length;

                    for (i = 0; i < filesAmount; i++) {
                        var reader = new FileReader();

                        reader.onload = function(event) {
                            $($.parseHTML('<img>')).attr({src:event.target.result,style:"width:50px;height:50px;object-fit:cover;border-radius:5px;margin:5px; display: inline-block"}).appendTo(placeToInsertImagePreview);
                        }

                        reader.readAsDataURL(input.files[i]);
                    }
                }

            };

            $('#gallery-photo-add').on('change', function() {
                imagesPreview(this, 'div.gallery');
            });
        });


        // Video
        var video = null;
        function readVideoURL(input) {
            if (input.files && input.files[0]) {

                var reader = new FileReader();
                var filename = $('#post_video').val().split('\\').pop();

                reader.onload = function (e) {
                    $("#upload_Video_title").text(filename)
                };


                reader.readAsDataURL(input.files[0]);
                //
                video = input.files[0]

            }
        }
    </script>
    <script src="{{ asset('Userscripts/js/video/plyr.js') }}"></script>
    <script>
        //const player = new Plyr('.Vidoe_Player');
        const players = Array.from(document.querySelectorAll('.Vidoe_Player')).map(p => new Plyr(p));

    </script>

    <script src="{{ asset('Userscripts/js/photos/ekko-lightbox.js') }}"></script>
    <script>
        $(document).on('click', '[data-toggle="lightbox"]', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    </script>
    <script>
        $(window).on("navigate", function (event, data) {
            var direction = data.state.direction;
            if (direction == 'back') {
                alert('back')
            }
        });
    </script>
{% endblock %}



{% block privacy  %}
{% endblock %}