{% extends "UserBundle::userbase.html.twig" %}


{% block style %}
    {{ parent() }}
    <link rel="stylesheet" href={{ asset('Userscripts/css/starability-all.css') }}>
    <!-- Rting -->
    <link href={{ asset('Userscripts/rating/css/labs.css') }} rel="stylesheet">

    <!--end Rting -->
{% endblock %}


{% block Title %}
    {{ app.session.get('selected_product').product.name }}
{% endblock %}


{% block pageContent %}
   {% set selected = app.session.get('selected_product') %}


    <div style="margin-top:20px">
        <div class="page-title">
            <!-- search -->
            <div style="align-content: right;">
                <div class="col-md-12 col-sm-12 col-xs-12 form-group pull-right top_search">
                    <form class="form-inline" style="float:right">
                        <div class="form-group">

                        </div>
                    </form>
                </div>
            </div>
        </div>

          <div class="row">
            <div class="col-12">
                <div class="x_panel">
                    <div class="x_title">
                        {{ selected.product.name }} - {{ selected.product.othername }}
                    </div>
                    <div class="x_content">
                        <div class="" role="tabpanel" data-example-id="togglable-tabs">
                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Details</a>
                                </li>
                                <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Recommendations</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
          </div>
    </div>

{% endblock %}


{% block scripts %}
    {{ parent() }}
    <!-- Fix rating script script-->
    <script src={{ asset('Userscripts/rating/javascripts/labs.js') }}></script>
    <script src={{ asset('Userscripts/rating/javascripts/jquery.raty.js') }}></script>
    <script>
        $('.pan-stars').raty({
            readOnly: true,
            score: function() {
                return $(this).attr('data-score');
            },

        });
    </script>
{% endblock %}