{% extends "UserBundle::userbase.html.twig" %}

{% block Title %}
    Profile
{% endblock %}

{% block pageContent %}
    <div style="margin-top:50px">
        <div class="x_panel">
            <div class="x_title">
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                {% set userProfile  = app.session.get('user_info') %}
                <!-- User Informations -->
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 profile_left">
                    <div class="profile_img">
                        <div class="container" >
                            {% if userProfile.user_image == '' %}
                                {% set profileImage = 'default.png' %}
                                {% else %}
                                    {% set profileImage = userProfile.user_image %}
                            {% endif %}
                            <!-- Current avatar -->
                            {% if userProfile.user_membership == 'dockies' %}
                                <img class=" img-circle" src="{{ asset('images/profile/') }}{{ profileImage }}" id="img-main" height="200px" width="200px" style="position:absolute;">
                                <img class=" img-circle" src="{{ asset('Userscripts/img/Ace/Border.png') }}" id="im-cover" height="200px" width="200px" style="position:relative;">
                                {% else %}
                                    <img class=" img-circle" src="{{ asset('images/profile/') }}{{ profileImage }}" id="img-main" height="200px" width="200px" style="position:static;">
                                    <img class=" img-circle" src="{{ asset('Userscripts/img/Ace/Border.png') }}" id="im-cover" height="200px" width="200px" style="position:relative;display: none;">
                            {% endif %}

                        </div>
                    </div>
                    <div id="infos" class="row">
                        <div class="text-left">
                            <h3>{{ userProfile.user_first_name }} {{ userProfile.user_last_name }}</h3>
                        </div>
                        <ul class="list-unstyled user_data">
                            {% if userProfile.user_adress is not null %}
                                <li><i class="fa fa-map-marker user-profile-icon"></i>
                                    {{ userProfile.user_adress }}
                                </li>
                            {% endif %}

                            {% if userProfile.user_company_name is not null %}
                                <li>
                                    <i class="fa fa-briefcase user-profile-icon"></i>
                                        {{ userProfile.user_company_name }}
                                </li>
                            {% endif %}

                            {% if userProfile.user_website is not null %}
                                <li class="m-top-xs">
                                    <i class="fa fa-external-link user-profile-icon"></i>
                                        <a href="{{ userProfile.user_website }}" target="_blank">userProfile.user_website</a>
                                </li>
                            {% endif %}
                            <li>
                                <i class="fa fa-envelope-o user-profile-icon"></i>
                                {{ userProfile.user_email }}
                            </li>
                        </ul>
                        {% if user.id != userProfile.user_id %}
                            {% if userProfile.follow_result == 'follow' %}
                                <a href="{{ path('follow',{'tofollow': userProfile.user_id }) }}"><button type="button" class="btn btn-default btn-xs follow" title="follow"  > <i class="fa fa-plus"></i> </button></a>
                                {% else %}
                                    <a href="{{ path('unfollow',{'unfollow': userProfile.user_id,'type':'profile' }) }}"><button type="button" class="btn btn-danger btn-xs" title="unfollow" > <i class="fa fa-minus"></i> </button></a>
                            {% endif %}


                            <button type="button" class="btn btn-success btn-xs" title="contact" > <i class="fa fa-comments-o"></i> </button>
                            <a href="{{ (path('block',{'Toblock':userProfile.user_id})) }}"><button type="button" class="btn btn-danger btn-xs" title="block"> <i class="fa fa-ban"></i> </button></a>

                        {% endif %}
                    </div>

                </div>
                <!-- -->
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    <div class="x_content" style="margin-left: 5%;">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <!-- required for floating -->
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs tabs-right">
                                <!--<li class="active"><a href="#home-r"  data-toggle="tab">Recent Activity</a>
                                </li>-->
                                <li><a href="#profile-r" data-toggle="tab">Followers</a>
                                </li>
                                <li><a href="#messages-r" data-toggle="tab">Following</a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <!--******************* Tab panes *******************-->
                            <div class="tab-content">
                                <!--<div class="tab-pane active" id="home-r">
                                    <div class="col-12">
                                        <ul class="list-unstyled msg_list">

                                        </ul>
                                    </div>
                                </div>-->

                                <div class="tab-pane" id="profile-r">
                                    <div class="row"> <!--group rows-->
                                        {% if userProfile.followers is not empty %}
                                            <h4><small>Followers : </small> {{ userProfile.followers|length }} </h4>
                                            {% for follower in userProfile.followers %}
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center" >
                                                    <div class="bord">
                                                        {% if follower.follower_image is null %}
                                                            {% set followerImage = 'default.png' %}
                                                            {% else %}
                                                                {% set followerImage = follower.follower_image%}
                                                        {% endif %}
                                                        <img src="{{ asset('images/profile/') }}{{ followerImage }}" width="100 " height="100"/>
                                                        <h4>{{ follower.follower_first_name }} {{ follower.follower_last_name }}</h4>
                                                        <div class=""><h5>{{ follower.follower_company_name }}</h5></div>
                                                    </div>
                                                </div>
                                            {% endfor %}

                                            {% else %}
                                                <h4>No followers</h4>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="tab-pane" id="messages-r">
                                    <div class="row"> <!--group rows-->
                                        {% if userProfile.following is not empty %}
                                            <h4><small>Followings : </small> {{ userProfile.following|length }} </h4>
                                            {% for follower in userProfile.following %}
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center" >
                                                    <div class="bord">
                                                        {% if follower.follower_image is null %}
                                                            {% set followerImage = 'default.png' %}
                                                        {% else %}
                                                            {% set followerImage = follower.follower_image%}
                                                        {% endif %}
                                                        <img src="{{ asset('images/profile/') }}{{ followerImage }}" width="100 " height="100"/>
                                                        <h4>{{ follower.follower_first_name }} {{ follower.follower_last_name }}</h4>
                                                        <div class=""><h5>{{ follower.follower_company_name }}</h5></div>
                                                    </div>
                                                </div>
                                            {% endfor %}

                                        {% else %}
                                            <h4>No followings</h4>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>

        </div>

    </div>

{% endblock %}

{% block scripts %}
    <!-- block -->
    <script>
        function block(userToBlock)
        {
            $.ajax({
                url: '{{ (path('block')) }}',
                type: 'POST',
                dataType: 'json',
                data:
                    {
                        'Toblock': userToBlock
                    },
                async: true,
                success: function (data)
                {
                    window.location.href = data
                }
            });
        }
    </script>

{% endblock %}


{% block privacy  %}
{% endblock %}