{% extends "UserBundle::userbase.html.twig" %}

{% block Title %}
    {{'Search_Result'|trans}}
{% endblock %}

{% block pageContent %}
    <div style="margin-top:80px">
        <div class="x_panel">
            {% set result = app.session.get('users')  %}
            <div class="x_title">
                <h2>{{'Search_Result'|trans}} ({{ result|length }}) </h2>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row"> <!--group rows-->
                    {% if result|length == 0 %}
                        <h4>{{'Wecouldn_for'|trans}} <b> {{ app.session.get('user_filter') }}</b>  </h4>
                        {% else %}
                            {% for user in result %}
                                {% if user.user_image is null %}
                                    {% set image = 'default.png' %}
                                    {% else %}
                                        {% set image = user.user_image %}
                                {% endif %}
                                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 text-left" >
                                    <div style="border:2px solid #E6E9ED;border-radius:5px;padding:5px;">
                                        <img src="{{ asset('images/profile/') }}{{ image }}" style="object-fit:cover;width:100%;border-radius:3px;"/>
                                        <h4 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100%;">{{ user.user_first_name }} {{ user.user_last_name }}</h4>
                                        <div style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100%;"><span>{{'Company name'|trans}}: {{ user.user_company_name }}</span></div>
                                        <div style="border-bottom:2px solid #E6E9ED;border-radius:5px;margin:10px 0 10px 0"></div>
                                        <div class="text-right">
                                            {% if user.user_type_follow == 'follow' %}
                                                <a href="{{ path('follow',{'tofollow': user.user_id }) }}"><button type="button" class="btn btn-default btn-xs" title="follow"> <i class="fa fa-plus"></i> </button></a>
                                                {% else %}
                                                    <a href="{{ path('unfollow',{'unfollow': user.user_id ,'type':'search'}) }}"><button type="button"  class="btn btn-danger btn-xs" title="unfollow"> <i class="fa fa-minus"></i> </button></a>
                                            {% endif %}
                                            <a href="{{ path('search_profile',{'user':user.user_id}) }}"><button type="button" class="btn btn-primary btn-xs" title="view profil" > <i class="fa fa-eye"></i> </button></a>
                                            <button type="button" class="btn btn-success btn-xs" title="contact" > <i class="fa fa-comments-o"></i> </button>
                                        </div>
                                    </div>
                                </div>


                            {% endfor %}
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block privacy  %}
{% endblock %}

