<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='shortcut icon' type='image/x-icon' href={{ asset('Userscripts/img/logo.png') }} />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block Title %}{{'Home'|trans}}{% endblock %}</title>


    <!--end Photos -->
    <!-- video -->
    <link href={{ asset('Userscripts/js/video/plyr.css') }} rel="stylesheet">
    <!--end video -->

    <!-- Bootstrap -->
    <link href={{ asset('Userscripts/vendors/bootstrap/dist/css/bootstrap.min.css') }} rel="stylesheet">
    <!-- Font Awesome -->
    <link href={{ asset('Userscripts/vendors/font-awesome/css/font-awesome.min.css') }} rel="stylesheet">
    <!-- NProgress -->
    <link href= {{ asset('Userscripts/vendors/nprogress/nprogress.css') }} rel="stylesheet">
    <!-- jQuery custom content scroller -->
    <link href={{ asset('Userscripts/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css') }} rel="stylesheet"/>

    <!-- Custom Theme Style -->
    <link href={{ asset('Userscripts/build/css/custom.min.css') }} rel="stylesheet">
    <link href={{ asset('Userscripts/build/css/custom.css') }} rel="stylesheet">

    <!-- -->
    <link rel="stylesheet" href={{ asset('Userscripts/css/font.css') }}>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    {% block style %}
        <link rel="stylesheet" href={{ asset('Userscripts/css/newpost.css') }}>
        <link rel="stylesheet" href={{ asset('Userscripts/css/socialpost.css') }}>
        <style>
            .btn-sm{
                margin-top: 2%;
            }
        </style>

        <!-- Photos -->
        <link href={{ asset('Userscripts/js/photos/ekko-lightbox.css') }} rel="stylesheet">
        <script src={{ asset('Userscripts/js/photos/ekko-lightbox.js') }}></script>
    {% endblock %}
</head>

<body class="nav-md" style="background:white">
{% set user = app.user %}



{% if user is not null  %}
    <div class="container body" style="background:white">
        {% if user.image is null or user.image == '' %}
            {% set currentimage = 'default.png' %}
            {% else %}
                {% set currentimage = user.image %}
        {% endif %}
        <div class="main_container">
            <div class="col-md-3 left_col menu_fixed" style="background-color:#0e7ac3">
                <div class="left_col scroll-view"style="background-color:#0e7ac3" >
                    <div class="navbar nav_title" style="border: 0; background-color:#0e7ac3">
                        <a href="#" class="site_title" ><img id="logoimg" src={{ asset('Userscripts/img/logo.png') }} class="img-fluid" style=" width: 40px;height: auto;"><span style="margin-left:10px">LINKPAN</span></a>
                    </div>

                    <div class="clearfix" style="background-color:#0e7ac3"></div>


                    <!-- menu profile quick info -->
                    <div class="profile clearfix" style="background-color:#0e7ac3">
                        <div class="profile_pic">
                            <img src="{{ asset('images/profile/') }}{{ currentimage }}" class="img-circle profile_img" style="width: 60px;height: 60px;object-fit: cover;">
                        </div>
                        <div class="profile_info">
                            <h4 style="color:white;margin-top:-5%">{{ user.firstname }} {{ user.lastname }} </h4>
                            <p style="color:white;font-size:8.6px; "> {{ app.session.get('following') }} {{'FOLLOWING'|trans}}</p>
                            <p style="margin-top:-6.5%;color:white;font-size:8.6px;"> {{ app.session.get('followers') }} {{'FOLLOWERS'|trans}} </p>
                            {% if app.session.get('membership') == 'dockies' %}
                                <img src={{ asset('Userscripts/img/Ace/ACE.svg') }} id="logo" width="55px" height="55px">
                            {% endif %}

                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <div style="background-color:#0e7ac3">
                        </br>
                    </div>

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu" style="background-color:#0e7ac3">
                        <div class="menu_section">
                            {% set countData = app.session.get('Homeposts_count') %}
                            <ul class="nav side-menu">
                                <li><a href="{{ path('home') }}" data-id="{{ countData }}" id="home_menu"> {{'Home'|trans}}</a></li>
                            </ul>
                            <ul class="nav side-menu">
                                <li><a href="{{ path('discover',{'type':'discover'}) }}"> {{'Discover'|trans}} </a></li> <!--onclick="discover()" -->
                            </ul>
                            {% if app.session.get('membership') == 'dockies' %}
                                <ul class="nav side-menu">
                                    <li><a href="{{ path('dockies',{'type':'dockies'}) }}"> {{'Dockies'|trans}} </a></li>
                                </ul>
                            {% endif %}
                            <ul class="nav side-menu">
                                <li><a href="{{ path('globe') }}"  > {{'Globe Pro'|trans}} </a></li>
                            </ul>
                            <ul class="nav side-menu">
                                <li><a href="{{ path('groups') }}">  {{'Groups'|trans}} </a></li>
                            </ul>
                            <ul class="nav side-menu">
                                <li><a href="{{ path('complaints') }}" > {{'FCC'|trans}} </a></li>
                            </ul>
                        </div>


                    </div>
                    <!-- /sidebar menu -->

                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small" style="background-color:#0e7ac3">
                        <a data-toggle="tooltip" data-placement="top" title="Settings" style="background-color:#0e7ac3" onclick="$('#settingModal').modal('show')">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true" style="color:#373948;"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen" style="background-color:#0e7ac3" onclick="full()">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true" style="color:#373948;"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock" style="background-color:#0e7ac3">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true" style="color:#373948;"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" style="background-color:#0e7ac3" href="{{ path('logout') }}" >
                            <span class="glyphicon glyphicon-off" aria-hidden="true" style="color:#373948;"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav navbar-fixed-top">
                <div class="nav_menu">
                    <nav >
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="{{ asset('images/profile/') }}{{ currentimage }}" style="object-fit: cover;"><div id="idkwtf" style="display:inline">{{ user.firstname }} {{ user.lastname }} </div>
                                    <!--<img src="scripts/img/Ace/ACE.svg" id="logo" width="80px" height="80px">-->
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a onclick="view({{ user.id }})">{{'Profile'|trans}} </a></li>
                                    {% if app.session.get('membership') == 'simple' %}
                                        <li><a onclick="$('#up_modal').modal('show')"><strong>{{'Upgrade Membership'|trans}}</strong></a></li>
                                        {% else %}
                                            <li>
                                                <a onclick="clickdowngrade()"> <small style="color: red;">{{'Downgrade Membership'|trans}}</small></a>
                                                <a style="display:none" id="downgradebtn" href="{{ path('downgrade_membership') }}"><small style="color: red;">{{'FCC'|trans}}Downgrade Membership</small></a>
                                            </li>
                                    {% endif %}

                                    <li><a href="{{ path('boost_posts') }}">{{'Posts'|trans}}</a></li>
                                    <li><a href="{{ path('pans') }}">{{'Pans'|trans}}</a></li>
                                    <li><a href="{{ path('business_solutions') }}">{{'Business solutions'|trans}} </a></li>
                                    <li>
                                        <a onclick="$('#settingModal').modal('show')">
                                            <span>{{'Settings'|trans}}</span>
                                        </a>
                                    </li>
                                    <li><a href="{{ path('logout') }}"><i class="fa fa-sign-out pull-right"></i> {{'Log Out'|trans}}</a></li>
                                </ul>
                            </li>

                            <li role="presentation" class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-blue">6</span>
                                </a>
                                <ul id="messagerie" class="dropdown-menu list-unstyled msg_list" role="menu">
                                    <li>
                                        <div class="text-center">
                                            <a href="#">
                                                <strong>{{'See All Messages'|trans}}</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>


                            <li role="presentation" class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-bell-o"></i>
                                    <span class="badge bg-blue">0</span>
                                </a>
                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                    <li>
                                        <a>
                                            <span class="image"> <img src={{ asset('Userscripts/img/user2.jpg') }}> </span>
                                            <span>
							                <span>John Smith</span>
							                <span class="time">3 mins ago</span>
							            </span>
                                            <span class="message">
							                Film festivals used to be do-or-die moments for movie makers. They were where...
							            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="text-center">
                                            <a href="#">
                                                <strong>{{'See All Alerts'|trans}}</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>

                            <li id="search">
                                <form class="form-inline" style="margin-top: 4%" method="post" action="{{ path('search') }}">
                                    <input class="form-control" name="searchinput" type="text" placeholder="{{'Search'|trans}}" id="textinput" required >
                                    <a><button class="btn btn-outline-primary" type="submit" ><i class="fa fa-search"></i></button></a>
                                </form>
                            </li>
                            <li>
                                <a id="respSearch" onclick="$('#respSearchMod').modal('show')"><i class="fa fa-search"></i></a>
                            </li>
                        </ul>

                    </nav>
                </div>
            </div>
            <!-- /top navigation -->

            <!-- page content -->

            <div class="right_col" role="main">
                {% block pageContent %}


                    <div style="margin-top:80px">
                        <div class="container bootstrap snippet">
                            <div class="panel profile-info">
                                <form id="postform" data-parsley-validate class="form-horizontal form-label-left" enctype="multipart/form-data" method="post" action="{{ path('home_post') }}">
                                    <textarea class="form-control input-lg p-text-area" rows="4" placeholder="{{'What’s in your mind today?'|trans}}" name="post_description" id="description" required></textarea>
                                    <div id="cover">
                                        <div class="gallery"></div>
                                        <div id="add_photo"><i class="fa fa-plus" aria-hidden="true"></i></div>
                                    </div>

                                    <div id="post_line"></div>

                                    <div id="up_area"> <!-- upload -->
                                        <div style="display:inline-block;">
                                            <div class="form-inline">
                                                <img src="{{ asset('Userscripts/img/upimg.svg') }}" width="20px" height="20px" style="display:inline" onclick="document.getElementById('gallery-photo-add').click();">
                                                <input type="file"  name="uploadimage[]"  id="gallery-photo-add" style="display:none" accept="image/*" multiple>
                                                <h9 id="upload_title">{{'Photo'|trans}}</h9>
                                            </div>
                                        </div>
                                        <!--Video -->
                                        <div style="display:inline-block;">
                                            <div class="form-inline">
                                                <img src="{{ asset('Userscripts/img//upvideo.svg') }}" id="video_prev" width="20px" height="20px" onclick="document.getElementById('post_video').click();">
                                                <input type="file" id="post_video" name="post_video"  onchange="readVideoURL(this);"  accept="video/mp4" style="display:none;">
                                                <h9 id="upload_Video_title">{{'Video'|trans}}</h9>
                                            </div>
                                        </div>
                                        <!--Video -->
                                    </div><!--end upload -->

                                    <button type="submit" class="btn btn-info" id="postpan"> {{'Post'|trans}} </button>

                                </form>
                            </div>


                            <div style="text-align: center; display: none" id="news" >
                                <a href="{{ path('home') }}">
                                    <button type="button" class="btn btn-round btn-primary btn-xs">
                                        <i class="fa fa-arrow-up"></i> {{'New posts'|trans}}
                                    </button>
                                </a>
                            </div>

                            {% set data = app.session.get('Homeposts') %}
                            {% if  data|length > 0 %}
                                {% for item in data %}
                                    <div class="panel" style="margin-top: 2.5%;">
                                        <div class="panel-body">
                                            <!-- Image -->
                                            <div class="fb-user-thumb" style="display:inline">
                                                {% if item.owner_image is null %} {% set image = 'default.png' %} {% else %} {% set image = item.owner_image  %}{% endif %}
                                                <a onclick="view({{ item.owner_id }})"><img src="{{ asset('images/profile/') }}{{ image }}" class="img-circle" style="width: 70px;height: 70px;object-fit: cover;"></a>
                                            </div>
                                             <!--add remove post -->
                                            <div style="display:inline;float:right">
                                             <!-- Single button -->
                                                    <div class="btn-group ">
                                                        <button style="    visibility: hidden;"type="button" class="btn btn-primary">Right dropup</button> 
                                                        <button type="button" style="background:white;border:0" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> 
                                                            <i style="color:black" class="fa fa-ellipsis-h"></i>
                                                        </button> 
                                                        <ul class="dropdown-menu dropdown-menu-right">
                                                            <li style="display:none"><a id="deletpostbtn" href="{{ path('delete_post',{'post': item.id }) }}">Delet</a></li>
                                                            <li><a href="#" onclick="clickdeletpost()">{{'Delet'|trans}}</a></li>
                                                        </ul> 
                                                    </div>   
                                            </div>
                                            <!--end delet post -->
                                            <!-- Name / Boosted /Date / Adress -->
                                            <div class="fb-user-details">
                                                <h3><a href="#" class="#" onclick="view({{ item.owner_id }})">{{ item.owner_first_name }} {{ item.owner_last_name }}</a> {% if item.owner_company_name is not null %} <small> {{ item.owner_company_name }}</small> {% endif %}</h3>
                                                <p>{% if item.post_boosted == 'boosted' %}<strong style="color:black">{{'BOOSTED'|trans}}</strong></strong> | {% endif %} {{ item.post_creation_date | date('m-d-Y H:m') }} {% if item.owner_adress is not null %} <small>in</small> {{ item.owner_adress }} {% endif %}</p>
                                            </div>
                                           

                                            <div class="clearfix"></div>

                                            <!-- display post content -->
                                            <p class="fb-user-status">
                                            <div style="word-wrap:break-word">
                                                {{ item.post_content }}
                                            </div>
                                            <br>
                                            <!-- images + video -->
                                            <div class="parent" style="max-width: 650px;">
                                                {% if item.post_video is not null %}
                                                    {% if item.post_images >0 %}
                                                        {% if item.post_images|length == 1 %}<!-- 1 photo+video: -->
                                                            <div style="max-width:600px">
                                                                <video  class="Vidoe_Player" controls  playsinline  controls qualitychange>
                                                                    <source src="{{ asset('videos/') }}{{ item.post_video }}" type="video/mp4">
                                                                        {{'Your browser does not support the video tag.'|trans}} 
                                                                </video>
                                                            </div>
                                                            <div>
                                                                <a  href="{{ asset('images/post/') }}{{ item.post_images|first }}" data-max-width="600" data-toggle="lightbox" data-gallery="{{ item.id }}"> <img src="{{ asset('images/post/') }}{{ item.post_images|first }}" id="post_img" class="post-1img-video img-responsive"></a>
                                                            </div>
                                                        {% endif %}<!--end 1 photo+video: -->

                                                        {% if item.post_images|length == 2 or item.post_images|length == 3   %}<!--end 2 or 3 photo+video -->
                                                            <div style="max-width:600px">
                                                                <video  class="Vidoe_Player" controls  playsinline  controls qualitychange>
                                                                    <source src="{{ asset('videos/') }}{{ item.post_video }}" type="video/mp4">
                                                                     {{'Your browser does not support the video tag.'|trans}} 
                                                                </video>
                                                            </div>

                                                            <div>
                                                                {% for img in item.post_images %}
                                                                    <a  href="{{ asset('images/post/') }}{{ img }}" data-toggle="lightbox" data-gallery="{{ item.id }}"> <img src="{{ asset('images/post/') }}{{ img }}" id="post_img" {% if item.post_images|length == 2 %}class="img-responsive post-2img-video" {% else %}class="post-3img-video-fixed img-responsive"{% endif %}></a>
                                                                {% endfor %}
                                                            </div>

                                                        {% endif %}<!--end 2 or 3 photo+video -->

                                                        {% if item.post_images|length > 3 %}<!--more than 3 photo+video: -->
                                                            <div style="max-width:600px">
                                                                <video  class="Vidoe_Player" controls  playsinline  controls qualitychange>
                                                                    <source src="{{ asset('videos/') }}{{ item.post_video }}" type="video/mp4">
                                                                    {{'Your browser does not support the video tag.'|trans}} 
                                                                </video>
                                                            </div>

                                                            <div>
                                                                {% for img in item.post_images[0:2]  %}
                                                                    <a  href="{{ asset('images/post/') }}{{ img }}" data-toggle="lightbox"  data-gallery="{{ item.id }}"> <img src="{{ asset('images/post/') }}{{ img }}"  class="post-3img-video img-responsive"></a>
                                                                {% endfor %}

                                                                <a  href="{{ asset('images/post/') }}{{ item.post_images[2] }}" data-toggle="lightbox"  data-gallery="{{ item.id }}">
                                                                    <div class="post-3imgvid-wrapblack">

                                                                        <img src="{{ asset('images/post/') }}{{ item.post_images[2] }}"  class="post-3imgvid-blackimg img-responsive">

                                                                        <div class="post-3imgvid-count">
                                                                            +{{ item.post_images|length - 2 }}
                                                                        </div>
                                                                    </div>
                                                                </a>

                                                                <!-- elements not showing, use data-remote -->
                                                                {% for img in item.post_images[3:item.post_images|length] %}
                                                                    <div data-toggle="lightbox" data-gallery="{{ item.id }}" data-remote="{{ asset('images/post/') }}{{ img }}" ></div>
                                                                {% endfor %}


                                                            </div>

                                                        {% endif %}<!--end more than 3 photo+video: -->

                                                        {% if item.post_images|length == 0  %}
                                                            <div style="max-width:600px">
                                                                <video  class="Vidoe_Player" controls  playsinline  controls qualitychange>
                                                                    <source src="{{ asset('videos/') }}{{ item.post_video }}" type="video/mp4">
                                                                    {{'Your browser does not support the video tag.'|trans}} 
                                                                </video>
                                                            </div>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}

                                                {% if item.post_video is null %}
                                                    {% if item.post_images|length == 1  %}<!--1 photo -->
                                                        <div>
                                                            <a  href="{{ asset('images/post/') }}{{ item.post_images|first }}" data-max-width="1000" data-toggle="lightbox" data-gallery="{{ item.id }}"> <img src="{{ asset('images/post/') }}{{ item.post_images|first }}" id="post_img" class="post-1img img-responsive"></a>
                                                        </div>
                                                    {% endif %}<!--end 1 photo-->

                                                    {% if item.post_images|length == 2 or item.post_images|length == 3   %}<!--2 or 3 photo -->
                                                        <div>
                                                            {% for img in item.post_images %}
                                                                <a  href="{{ asset('images/post/') }}{{ img }}" data-toggle="lightbox" data-gallery="{{ item.id }}"> <img src="{{ asset('images/post/') }}{{ img }}" id="post_img" {% if item.post_images|length == 2 %}class="img-responsive post-2-img" {% else %}class="post-3-img img-responsive"{% endif %}></a>
                                                            {% endfor %}
                                                        </div>
                                                    {% endif %}<!--end 2 or 3 photo -->

                                                    {% if item.post_images|length > 3   %} <!--more than 3 photo -->
                                                        <div>
                                                            {% for img in item.post_images[0:2]  %}
                                                                <a  href="{{ asset('images/post/') }}{{ img }}" data-toggle="lightbox"  data-gallery="{{ item.id }}"> <img src="{{ asset('images/post/') }}{{ img }}"  class="post-3img-video img-responsive"></a>
                                                            {% endfor %}

                                                            <a  href="{{ asset('images/post/') }}{{ item.post_images[2] }}" data-toggle="lightbox"  data-gallery="{{ item.id }}">
                                                                <div class="post-3imgvid-wrapblack">

                                                                    <img src="{{ asset('images/post/') }}{{ item.post_images[2] }}"  class="post-3imgvid-blackimg img-responsive">

                                                                    <div class="post-3imgvid-count">
                                                                        +{{ item.post_images|length - 2 }}
                                                                    </div>
                                                                </div>
                                                            </a>
                                                            <!-- elements not showing, use data-remote -->
                                                            {% for img in item.post_images[3:item.post_images|length] %}
                                                                <div data-toggle="lightbox" data-gallery="{{ item.id }}" data-remote="{{ asset('images/post/') }}{{ img }}" ></div>
                                                            {% endfor %}
                                                        </div>
                                                    {% endif %}<!--more than 3 photo -->
                                                {% endif %}


                                            </div>
                                            </p>
                                            <!-- actions -->
                                            <div class="fb-status-container fb-border">
                                                <div class="fb-time-action">
                                                    {% if item.post_like_type == 'like' %}
                                                        <a href="#like" id="like{{ item.id }}" onclick="like({{ item.id }},{{ item.likes_count }})" title="Like this" style="background-color: transparent !important;"><i class="fa fa-thumbs-o-up" ></i></a>
                                                        <a href="#dislike" id="dislike{{ item.id }}" onclick="dislike({{ item.id }},{{ item.likes_count }})" title="Dislike this" style="background-color: transparent !important; display: none;" ><i class="fa fa-thumbs-up" ></i></a>
                                                    {% else %}
                                                        <a href="#dislike" id="dislike{{ item.id }}" title="Dislike this" onclick="dislike({{ item.id }},{{ item.likes_count }})" style="background-color: transparent !important;"><i class="fa fa-thumbs-up" ></i></a>
                                                        <a href="#like" id="like{{ item.id }}" title="Like this" onclick="like({{ item.id }},{{ item.likes_count }})"  style="background-color: transparent !important; display: none;"><i class="fa fa-thumbs-o-up" ></i></a>
                                                    {% endif %}
                                                    <span></span>
                                                    <!--<a href="#share_post" onclick="sharePost({ item.id }})" title="Send this to friend or post it on your time line"><i class="fa fa-share fa-lg"></i></a> -->
                                                <!--add share fb twiter google plus linkedin -->
                                                <div class="btn-group">
                                                    <button type="button" style="border:0" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fa fa-share fa-lg"></i>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#share_post" onclick="sharePost({{ item.id }})" title="Send this to friend or post it on your time line">{{'on your timeline'|trans}}</a></li>
                                                        <li role="separator" class="divider"></li>
                                                        <li><a href="#" class="share_facebook" data-url="https://www.youtube.com/watch?v=mAJeK283j0I"><i class="fa fa-facebook"></i></a></li>
                                                       <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li>                                                        
                                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>-->
                                                    </ul>
                                                    </div>
                                                    <!--end add share fb twiter google plus linkedin -->
                                                </div>
                                            </div>

                                            <!-- count likes and comments -->
                                            <div class="fb-status-container fb-border fb-gray-bg">
                                                <div class="fb-time-action like-info">
                                                    <!-- current user  (and) others-->
                                                    {% if item.post_like_type == 'dislike' %}
                                                        <div id="youitem{{ item.id }}" style="display: inline;"><b style="display: inline;">  {{'You'|trans}}</b> {% if item.likes_count == 0 %}<small style="display: inline;">{{'like this'|trans}}</small>{% endif %} </div>
                                                    {% else %}
                                                        <div id="youitem{{ item.id }}" style="display: none;"><b style="display: inline;"> {{'You'|trans}}</b> {% if item.likes_count == 0 %}<small style="display: inline;">{{' like this'|trans}}</small>{% endif %} </div>
                                                    {% endif %}

                                                    {% if item.likes_count > 1 %}
                                                        {% if item.post_like_type == 'dislike' %}
                                                            <small id="anditem{{ item.id }}" style="display: inline;">{{'and'|trans}}</small>
                                                        {% else %}
                                                            <small id="anditem{{ item.id }}" style="display: none;">{{'and'|trans}}</small>
                                                        {% endif %}
                                                        <div id="youitem{{ item.id }}" style="display: inline;">  {{ item.likes_count }} <small>{{'like this'|trans}} </small> </div>
                                                    {% endif %}
                                                </div>

                                                <ul class="fb-comments" id="commentslist{{ item.id }}" style="padding: 0">
                                                    {% set comments = item.post_comments %}
                                                    {% if comments|length > 0 %}
                                                        {% for comment in comments[0:3] %}
                                                            <li  id ="comment_{{ comment.comment_id }}">
                                                                <!-- remove comment -->
                                                                {% if comment.comment_owner_id == user.id %}
                                                                    <div style="display:inline;float:right">
                                                                        <div class="btn-group ">
                                                                            <button style="    visibility: hidden;"type="button" class="btn btn-primary">Right dropup</button>
                                                                            <button type="button" style="background:#f6f6f6;border:0" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                                                <i style="color:black" class="fa fa-ellipsis-h"></i>
                                                                            </button>
                                                                            <ul class="dropdown-menu dropdown-menu-right">
                                                                                <li><a onclick="clickdeletcmnt()">{{'Delet'|trans}}</a></li>
                                                                                <li style="display:none"><a id="deletcmntbtn" onclick="DeleteComment({{ comment.comment_id }})">Delet</a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                {% endif %}
                                                                <!--end remove comment -->
                                                                <a  class="cmt-thumb">
                                                                    {% if comment.comment_owner_image is null %}{% set commentow_image = 'default.png' %}{% else %}{% set commentow_image = comment.comment_owner_image %} {% endif %}
                                                                    <img src="{{ asset('images/profile/') }}{{ commentow_image }}" class="img-circle" style="width: 50px;height: 50px;object-fit: cover;">
                                                                </a>
                                                                <div class="cmt-details">
                                                                    <div><a href="" onclick="view({{ comment.comment_owner_id }})">{{ comment.comment_owner_first_name }} {{ comment.comment_owner_last_name }}</a></div>
                                                                    <div style="word-wrap:break-word"><span> {{ comment.comment_content }} </span></div>
                                                                </div>
                                                            </li>
                                                        {% endfor %}

                                                        {% if comments|length >3 %}
                                                            <a id="morelink{{ item.id }}" href="#more_comments" onclick="morecomments({{ item.id }});return false;">{{'more comments'|trans}}</a>
                                                            <div id="more{{ item.id }}" style="display: none;">
                                                                {% for comment in comments[4:comments|length] %}
                                                                    <li id ="comment_{{ comment.comment_id }}">
                                                                        {% if comment.comment_owner_id == user.id %}
                                                                            <div style="display:inline;float:right">
                                                                                <div class="btn-group ">
                                                                                    <button style="    visibility: hidden;"type="button" class="btn btn-primary">Right dropup</button>
                                                                                    <button type="button" style="background:#f6f6f6;border:0" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                                                        <i style="color:black" class="fa fa-ellipsis-h"></i>
                                                                                    </button>
                                                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                                                        <li><a onclick="clickdeletcmnt()">{{'Delet'|trans}}</a></li>
                                                                                        <li style="display:none"><a id="deletcmntbtn" onclick="DeleteComment({{ comment.comment_id }})">Delet</a></li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        {% endif %}
                                                                        <a  class="cmt-thumb">
                                                                            {% if comment.comment_owner_image is null %}{% set commentow_image = 'default.png' %}{% else %}{% set commentow_image = comment.comment_owner_image %} {% endif %}
                                                                            <img src="{{ asset('images/profile/') }}{{ commentow_image }}" class="img-circle" style="width: 50px;height: 50px;object-fit: cover;">
                                                                        </a>
                                                                        <div class="cmt-details">
                                                                            <div><a  onclick="view({{ comment.comment_owner_id }})">{{ comment.comment_owner_first_name }} {{ comment.comment_owner_last_name }}</a></div>
                                                                            <div><span> {{ comment.comment_content }} </span></div>
                                                                        </div>
                                                                    </li>
                                                                {% endfor %}
                                                                <div><a href="#less_comments" onclick="lesscomments({{ item.id }});return false;">{{'less comments'|trans}}</a></div>
                                                            </div>
                                                        {% endif %}
                                                    {% endif %}
                                                    <!-- comment form -->
                                                    <li>
                                                        <div class="input-group">
                                                            <spana  class="input-group-btn">
                                                                <img src="{{ asset('images/profile/') }}{{ currentimage }}" alt="{{ user.firstname }}{{ user.lastname }}" class="img-circle" style="width: 45px;height: 45px;object-fit: cover">
                                                            </spana>
                                                            <textarea class="form-control" placeholder="{{'Write a comment...'|trans}}" name="" id="contentComment{{ item.id }}" style="resize:none;border-radius: 30px;margin-left: 5px;"></textarea>
                                                        </div>
                                                        <button type="button" class="btn btn-primary" style="float: right;border-radius: 30px" onclick="postComment({{ item.id }})">{{'Comment'|trans}}</button>
                                                        <br><br>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                {% else %}
                                    <h3 class='text-center'>{{'Sorry there’s no posts to display now !'|trans}}</h3>
                            {% endif %}



                            {% if countData > data|length %}
                                <div style="text-align: center;margin-top: 15%">
                                    <a href="{{ path('more_posts') }}" title="get more posts">
                                        <button type="button" class="btn btn-round btn-default btn-xs"><i class="fa fa-arrow-down"></i></button>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endblock  %}
            </div>
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                   {{'DOCKIES PRIME - 2018'|trans}} 
                </div>
                <div class="pull-left">
                   <!-- <a style="margin-right:10px;" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'}))}}"><img class="img-fluid" src={{ asset('scripts/img/flags/usa.png') }} width="25" width="25"></a>
                    <a style="margin-right:10px;" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'}))}}"><img class="img-fluid" src={{ asset('scripts/img/flags/fr.png') }} width="25" width="25"></a>
                    <a style="margin-right:10px;" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'sp'}))}}"><img class="img-fluid" src={{ asset('scripts/img/flags/sp.png') }}  width="25" width="25"></a>
                    <a style="margin-right:10px;" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'ma'}))}}"><img class="img-fluid" src={{ asset('scripts/img/flags/ma.png') }} width="25" width="25"></a>
                </div> -->
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->



        </div>
    </div>

{% else %}
    <div class="container body">
        <div class="main_container">
            <!-- page content -->
            <div class="col-md-12">
                <div class="col-middle">
                    <div class="text-center">
                        <h1 class="error-number">500</h1>
                        <h2>{{'User Account Security'|trans}}</h2>
                        <p></a>
                        </p>
                        <div class="mid_center">
                                <span class="input-group-btn">
                                    <a href="{{ path('linkpan') }}"><button class="btn btn-default" type="button">{{'Go to linkpan!'|trans}}</button></a>
                                </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /page content -->
        </div>
    </div>
{% endif %}

<!-- Membership modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="up_modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{'do you really want to upgrade your membership'|trans}}</h4>
            </div>
            <form method="post" action="{{ path('change_membership') }}">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="dockiestype">{{'Dockies Type'|trans}}: </label>
                        <select class="form-control" id="dockiestype" name="dockiestype" required>
                            <option value="monthly">{{'monthly'|trans}}</option>
                            <option value="6 months">{{'6 months'|trans}}</option>
                            <option value="annually">{{'annually'|trans}}</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <a ><button type="submit"  class="btn btn-default upggradebtn" id="modal-btn-si">{{'Upgrade'|trans}}</button></a>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Setting Modal -->

<div id="settingModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{'Settings'|trans}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="password" class="form-control " id="settingpassword" placeholder="{{'Password'|trans}}">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" id="settingConfirm" onclick="settingAccess()">{{'Confirm'|trans}}</button>
            </div>
        </div>

    </div>
</div>


<!-- Search Modal -->
<div id="respSearchMod" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{'Search'|trans}}</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline" method="post" action="{{ path('search') }}">
                    <div class="input-group">
                        <input class="form-control searchinput" type="text" placeholder="{{'Search'|trans}}" name="searchinput" required >
                        <span class="input-group-btn">
                            <button class="btn btn-outline-primary" type="submit" ><i class="fa fa-search"></i></button>
                        </span> 
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
<!--end Search Modal -->

<!-- Sweet alert -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!-- jQuery -->
<script src={{ asset('Userscripts/vendors/jquery/dist/jquery.min.js') }}></script>
<!-- Bootstrap -->
<script src={{ asset('Userscripts/vendors/bootstrap/dist/js/bootstrap.min.js') }}></script>
<!-- FastClick -->
<script src={{ asset('Userscripts/vendors/fastclick/lib/fastclick.js') }}></script>
<!-- NProgress -->
<script src={{ asset('Userscripts/vendors/nprogress/nprogress.js') }}></script>
<!-- jQuery custom content scroller -->
<script src={{ asset('Userscripts/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js') }}></script>

<!-- Custom Theme Scripts -->
<script src={{ asset('Userscripts/build/js/custom.min.js') }}></script>
<!-- -->
<script src={{ asset('Userscripts/js/upgradeConfirmation.js') }}></script>

<!-- Setting access -->
<script>
 // delete acc confirmation:
    function clickdeletcmnt(){
        swal({
        title: "{{'Are you sure?'|trans}}",
        text: "{{'Are you sure that you want to delete this comment ?'|trans}}",
        icon: "warning",
        buttons: ["{{'NO !'|trans}}", "{{'YES !'|trans}}"],
        dangerMode: true,
        })
        .then(willDelete => {
            if (willDelete) {
                document.getElementById("deletcmntbtn").click();
            }
        });
    } //end delet acc confirmation
    // delet acc confirmation:
    function clickdeletpost(){
        swal({
        title: "{{'Are you sure?'|trans}}",
        text: "{{'Are you sure that you want to delete this post ?'|trans}}",
        icon: "warning",
        buttons: ["{{'NO !'|trans}}", "{{'YES !'|trans}}"],
        dangerMode: true,
        })
        .then(willDelete => {
            if (willDelete) {
                document.getElementById("deletpostbtn").click();
            }
        });
    } //end delet acc confirmation

     function clickdowngrade(){
        swal({
        title: "{{'Are you sure?'|trans}}",
        text: "{{'Are you sure that you want to downgrade your membership ?'|trans}}",
        icon: "warning",
        buttons: ["{{'NO !'|trans}}", "{{'YES !'|trans}}"],
        dangerMode: true,
        })
        .then(willDelete => {
            if (willDelete) {
                document.getElementById("downgradebtn").click();
            }
        });
    } 
</script>
<script>
    function settingAccess()
    {
        if($('#settingpassword').val() != '')
        {
            $('#settingConfirm').prop('disabled',true)
            $.ajax({
                url: '{{ (path('setting_access')) }}',
                type: 'POST',
                dataType: 'json',
                data:
                    {
                        'password':$('#settingpassword').val()
                    },
                async: true,
                success: function (data)
                {
                    if(data == 'ERR')
                    {
                        $('#settingConfirm').prop('disabled',false)
                        swal("{{'Incorrect password'|trans}}")
                    }
                    else
                        window.location.href = data
                }
            });
        }
    }
</script>

<!-- view -->
<script>
    function view(user)
    {
        $.ajax({
            url: '{{ (path('search_profile')) }}',
            type: 'POST',
            dataType: 'json',
            data:
                {
                    'user': user
                },
            async: true,
            success: function (data)
            {
                if(data == 'BLOCK')
                    swal('{{"You cannot access this profile !"|trans}}')
                else
                    window.location.href = data
            }
        });
    }
</script>

<!-- follow -->
<script>
    function follow(tofollow)
    {
        $.ajax({
            url: '{{ (path('follow')) }}',
            type: 'POST',
            dataType: 'json',
            data:
                {
                    'tofollow': tofollow
                },
            async: true,
            success: function (data)
            {
                window.location.href = data
            }
        });
    }
</script>
<!-- unfollow -->
<script>
    function unfollow(tounfollow)
    {
        $.ajax({
            url: '{{ (path('unfollow')) }}',
            type: 'POST',
            dataType: 'json',
            data:
                {
                    'unfollow': tounfollow
                },
            async: true,
            success: function (data)
            {
                window.location.href = data
            }
        });

    }
</script>


<!--Reload Form -->
<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>


<script>
    (function(){

        var popupCenter = function(url, title, width, height){
            var popupWidth = width || 640;
            var popupHeight = height || 320;
            var windowLeft = window.screenLeft || window.screenX;
            var windowTop = window.screenTop || window.screenY;
            var windowWidth = window.innerWidth || document.documentElement.clientWidth;
            var windowHeight = window.innerHeight || document.documentElement.clientHeight;
            var popupLeft = windowLeft + windowWidth / 2 - popupWidth / 2 ;
            var popupTop = windowTop + windowHeight / 2 - popupHeight / 2;
            var popup = window.open(url, title, 'scrollbars=yes, width=' + popupWidth + ', height=' + popupHeight + ', top=' + popupTop + ', left=' + popupLeft);
            popup.focus();
            return true;
        };
        // share in facebook
        document.querySelector('.share_facebook').addEventListener('click', function(e){
            e.preventDefault();
           //var url = this.getAttribute('data-url');
            var url  = "{{ path('linkpan')|escape('js') }}";
            console.log(url)
            var shareUrl = "https://www.facebook.com/sharer/sharer.php?u=" + encodeURIComponent(url) ;
            popupCenter(shareUrl, "Share in facebook");
        });
    })();
</script>





{% block privacy  %}
    <!-- news -->
    <script>
        var refreshId = setInterval(function(){
            var dataBefore = $('#home_menu').data('id');
            $.ajax(
                {
                    url: '{{ (path('home_news')) }}',
                    type: 'POST',
                    dataType: 'json',
                    async: true,
                    success: function(data)
                    {
                        if(data > dataBefore)
                        {
                            $('#news').show()
                            clearInterval(refreshId);
                        }
                    },
                    error:function(){
                        console.log('error')
                    }

                });

        }, 180000); // 3 minutes
    </script>
{% endblock %}





{% block scripts %}

    <!-- display more/less comments -->
    <script>
        function morecomments(post)
        {
            $('#morelink'.concat(post)).hide()
            $('#more'.concat(post)).show()
        }

        function lesscomments(post)
        {
            $('#morelink'.concat(post)).show()
            $('#more'.concat(post)).hide()
        }
    </script>
    <!-- comment -->
    <script>
        function postComment(post)
        {
            if($('#contentComment'.concat(post)).val() != '')
            {
                $('#contentComment'.concat(post)).prop('disabled', true);
                $.ajax({
                    url: '{{ (path('post_comment')) }}',
                    type: 'POST',
                    dataType: 'json',
                    data:
                        {
                            'post':post,
                            'comment':$('#contentComment'.concat(post)).val()
                        },
                    async: true,
                    success: function (data)
                    {
                        if(data > 0)
                        {
                            // output
                            var output = '<li id="comment_'+data+'">';
                            output += '<div style="display:inline;float:right"><div class="btn-group ">';
                            output += '<button style="visibility: hidden;"type="button" class="btn btn-primary">Right dropup</button>';
                            output += '<button type="button" style="background:#f6f6f6;border:0" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i style="color:black" class="fa fa-ellipsis-h"></i></button><ul class="dropdown-menu dropdown-menu-right">'
                            output += '<li><a onclick="clickdeletcmnt()">{{"Delet"|trans}}</a></li>'
                            output += '<li style="display:none"><a id="deletcmntbtn" onclick="DeleteComment('+data+')">Delet</a></li>'
                            output += '<a  class="cmt-thumb"></button>'
                            output += '</ul></div></div>'
                            var image = '{{ currentimage }}'
                            output += '<img src="{{ asset('images/profile/') }}'+image+'" class="img-circle" style="width: 50px;height: 50px;object-fit: cover;margin-right: 20px;"></a>'
                            output += '<div class="cmt-details">'
                            var fullname = '{{ user.firstname }}'.concat(' ').concat('{{ user.lastname }}')
                            output += '<div><a href="#">'+fullname+ '</a></div>'
                            output += '<div><span> '+$('#contentComment'.concat(post)).val()+' </span><div>'
                            output += '</div></li>'; //
                            $('#commentslist'.concat(post)).prepend(output);
                            $('#contentComment'.concat(post)).val('')
                        }
                        else
                        swal('{{"Soryy you cannot comment this post now , please try in another time"|trans}}');



                        $('#contentComment'.concat(post)).prop('disabled', false);
                    }
                });
            }
            else
                swal('{{"Please , set a comment"|trans}}');
        }
    </script>
    <!-- share -->
    <script>
        function sharePost(post)
        {
            swal('{{"Post shared on your profile !"|trans}}');
            $.ajax({
                url: '{{ (path('post_share')) }}',
                type: 'POST',
                dataType: 'json',
                data:
                    {
                        'post':post
                    },
                async: true
            });
        }
    </script>
    <!-- Dislike -->
    <script>
        function dislike(post,countLikes)
        {
            $('#dislike'.concat(post)).hide()
            $('#like'.concat(post)).show()
            //
            $('#youitem'.concat(post)).hide()
            $('#youitem'.concat(post)).css('display','none')
            //
            if(countLikes>1)
                $('#anditem'.concat(post)).hide()
            $.ajax({
                url: '{{ (path('post_dislike')) }}',
                type: 'POST',
                dataType: 'json',
                data:
                    {
                        'post':post
                    },
                async: true,
                success: function (data)
                {
                    if(data == 'ERR')
                    {
                        swal('{{"sorry you cannot like the post , you can try another time"|trans}}');
                        $('#like'.concat(post)).hide()
                        $('#dislike'.concat(post)).show()
                        //
                        $('#youitem'.concat(post)).show()
                        $('#youitem'.concat(post)).css('display','inline')
                    }
                }
            });
        }
    </script>

    <!-- Like -->
    <script>
        function like(post,countLikes)
        {
            $('#like'.concat(post)).hide()
            $('#dislike'.concat(post)).show()
            //
            $('#youitem'.concat(post)).show()
            $('#youitem'.concat(post)).css('display','inline')
            //
            if(countLikes > 1)
            {
                $('#anditem'.concat(post)).show()
                $('#anditem'.concat(post)).css('display','inline')
            }
            $.ajax({
                url: '{{ (path('post_like')) }}',
                type: 'POST',
                dataType: 'json',
                data:
                    {
                        'post':post
                    },
                async: true,
                success: function (data)
                {
                    if(data == 'ERR')
                    {
                        swal('{{"sorry you cannot like the post , you can try another time"|trans}}');
                        $('#dislike'.concat(post)).hide()
                        $('#like'.concat(post)).show()
                        //
                        $('#youitem'.concat(post)).hide()
                        $('#youitem'.concat(post)).css('display','none')
                    }
                }
            });
        }
    </script>

    <!-- media -->
    <script>


        $(function() {
            // Multiple images preview in browser
            var imagesPreview = function(input, placeToInsertImagePreview) {
                $("#cover").css({});
                if (input.files) {
                    var filesAmount = input.files.length;

                    for (i = 0; i < filesAmount; i++) {
                        var reader = new FileReader();

                        reader.onload = function(event) {
                            $($.parseHTML('<img>')).attr({src:event.target.result,style:"width:50px;height:50px;object-fit:cover;border-radius:5px;margin:5px; display: inline-block"}).appendTo(placeToInsertImagePreview);
                        }

                        reader.readAsDataURL(input.files[i]);
                    }
                }

            };

            $('#gallery-photo-add').on('change', function() {
                imagesPreview(this, 'div.gallery');
            });
        });


        // Video
        var video = null;
        function readVideoURL(input) {
            if (input.files && input.files[0]) {

                var reader = new FileReader();
                var filename = $('#post_video').val().split('\\').pop();

                reader.onload = function (e) {
                    $("#upload_Video_title").text(filename)
                };


                reader.readAsDataURL(input.files[0]);
                //
                video = input.files[0]

            }
        }
    </script>
    <script src="{{ asset('Userscripts/js/video/plyr.js') }}"></script>
    <script>
        //const player = new Plyr('.Vidoe_Player');
        const players = Array.from(document.querySelectorAll('.Vidoe_Player')).map(p => new Plyr(p));

    </script>

    <script src="{{ asset('Userscripts/js/photos/ekko-lightbox.js') }}"></script>
    <script>
        $(document).on('click', '[data-toggle="lightbox"]', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    </script>
    <script>
        $(window).on("navigate", function (event, data) {
            var direction = data.state.direction;
            if (direction == 'back') {
                swal('{{"back"|trans}}')
            }
        });
    </script>

    <!--Delete comment -->
    <script>
        function DeleteComment(comment)
        {
            // confirmation
            $('#comment_'.concat(comment)).remove();
            //
            $.ajax({
                url: '{{ (path('delete_comment')) }}',
                type: 'POST',
                dataType: 'json',
                data:
                {
                    'comment':comment
                },
                async: true
            });
        }
    </script>
    <!-- Share buttons -->
    <script>
        (function(){

            var popupCenter = function(url, title, width, height){
                var popupWidth = width || 640;
                var popupHeight = height || 320;
                var windowLeft = window.screenLeft || window.screenX;
                var windowTop = window.screenTop || window.screenY;
                var windowWidth = window.innerWidth || document.documentElement.clientWidth;
                var windowHeight = window.innerHeight || document.documentElement.clientHeight;
                var popupLeft = windowLeft + windowWidth / 2 - popupWidth / 2 ;
                var popupTop = windowTop + windowHeight / 2 - popupHeight / 2;
                var popup = window.open(url, title, 'scrollbars=yes, width=' + popupWidth + ', height=' + popupHeight + ', top=' + popupTop + ', left=' + popupLeft);
                popup.focus();
                return true;
            };
            // share in facebook
            document.querySelector('.share_facebook').addEventListener('click', function(e){
                e.preventDefault();
                var url = this.getAttribute('data-url');//
                console.log(url)
                var shareUrl = "https://www.facebook.com/sharer/sharer.php?u=" + encodeURIComponent(url) ;
                popupCenter(shareUrl, "Share in facebook");
            });
        })();
    </script>

{% endblock %}

</body>
</html>