{% extends "::base.html.twig" %}


{% block PublicHead %}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ asset('scripts/styles/categories_styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('scripts/styles/categories_responsive.css') }}">
{% endblock %}

{% block Title %}
    Discover
{% endblock %}

{% block search %}
{% endblock %}

{% block PublicBody %}
    <div class="container product_section_container">
        <div class="row">
            <div class="col product_section clearfix">
                <!-- Breadcrumbs -->
                <div class="breadcrumbs d-flex flex-row align-items-center">
                    <ul>
                        {% set category = app.session.get('pub_discover_category') %}
                        <li><a href="{{ path('linkpan') }}">Home</a></li>
                        <li class="active"><a ><i class="fa fa-angle-right" aria-hidden="true"></i>{{ category }}</a></li>
                    </ul>
                </div>
                <!-- Sidebar -->
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown" id="resp-cat">
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin:10px 0 10px 0">
                            Categories
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a href="#"class="dropdown-item">Agriculture</a>
                            <a href="#" class="dropdown-item">Vegetable Products</a>
                            <a href="#" class="dropdown-item">Men’s Clothing</a>
                            <a href="#" class="dropdown-item">Textile Stock</a>
                            <a href="#" class="dropdown-item">Fashion Accessories Stock</a>
                            <a href="#" class="dropdown-item">Watches</a>
                            <a href="#" class="dropdown-item">Vehicle Tools</a>
                            <a href="#" class="dropdown-item">Computer Hardware & Software</a>
                            <a href="#" class="dropdown-item">Mobile Phone & Accessories</a>
                            <a href="#" class="dropdown-item">Security Services</a>
                            <a href="#" class="dropdown-item">Fitness & Body Building</a>
                            <a href="#" class="dropdown-item">Musical Instruments</a>
                            <a href="#" class="dropdown-item">Holiday Gifts</a>
                            <a href="#" class="dropdown-item">Home Decoration</a>
                            <a href="#" class="dropdown-item">Medical Software</a>
                            <a href="#" class="dropdown-item">Beauty & Personal Care</a>
                            <a href="#" class="dropdown-item">Apparel & Textile Machinery</a>
                            <a href="#" class="dropdown-item">Books</a>
                            <a href="#" class="dropdown-item">Office Equipment</a>
                            <a href="{{ path('signin') }}" class="dropdown-item">Others</a>
                        </div>
                    </div>
                </div>
                <div class="sidebar">
                    <div class="sidebar_section">
                        <div class="sidebar_title">
                            <h5>Product Category</h5>
                        </div>
                        <ul class="sidebar_categories">

                            <li {% if category == 'Agriculture' %}class="active"{% endif %}><a href="{{ path('discoverPans',{'category':'Agriculture'}) }}">{% if category == 'Agriculture' %}<span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>{% endif %}Agriculture</a></li>
                            <li {% if category == 'Vegetable Products' %}class="active"{% endif %}><a href="{{ path('discoverPans',{'category':'Vegetable Products'}) }}" >{% if category == 'Vegetable Products' %}<span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>{% endif %}Vegetable Products</a></li>
                            <li {% if category == 'Men’s Clothing' %}class="active"{% endif %}><a href="{{ path('discoverPans',{'category':'Men’s Clothing'}) }}" >{% if category == 'Men’s Clothing' %}<span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>{% endif %}Men’s Clothing</a></li>
                            <li {% if category == 'Textile Stock' %}class="active"{% endif %}><a href="{{ path('discoverPans',{'category':'Textile Stock'}) }}" >{% if category == 'Textile Stock' %}<span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>{% endif %}Textile Stock</a></li>
                            <li {% if category == 'Fashion Accessories Stock' %}class="active"{% endif %}><a href="{{ path('discoverPans',{'category':'Fashion Accessories Stock'}) }}" >{% if category == 'Fashion Accessories Stock' %}<span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>{% endif %}Fashion Accessories Stock</a></li>
                            <li {% if category == 'Watches' %}class="active"{% endif %}><a href="{{ path('discoverPans',{'category':'Watches'}) }}" > {% if category == 'Watches' %}<span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>{% endif %}Watches</a></li>
                            <li {% if category == 'Vehicle Tools' %}class="active"{% endif %}><a href="{{ path('discoverPans',{'category':'Vehicle Tools'}) }}" > {% if category == 'Vehicle Tools' %}<span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>{% endif %}Vehicle Tools</a></li>
                            <li {% if category == 'Computer Hardware & Software' %}class="active"{% endif %}><a href="{{ path('discoverPans',{'category':'Computer Hardware & Software'}) }}" > {% if category == 'Computer Hardware & Software' %}<span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>{% endif %}Computer Hardware & Software</a></li>
                            <li {% if category == 'Mobile Phone & Accessories' %}class="active"{% endif %}><a href="{{ path('discoverPans',{'category':'Mobile Phone & Accessories'}) }}" > {% if category == 'Mobile Phone & Accessories' %}<span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>{% endif %}Mobile Phone & Accessories</a></li>
                            <li {% if category == 'Security Services' %}class="active"{% endif %}><a href="{{ path('discoverPans',{'category':'Security Services'}) }}" > {% if category == 'Security Services' %}<span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>{% endif %}Security Services</a></li>
                            <li {% if category == 'Fitness & Body Building' %}class="active"{% endif %}><a href="{{ path('discoverPans',{'category':'Fitness & Body Building'}) }}" > {% if category == 'Fitness & Body Building' %}<span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>{% endif %} Fitness & Body Building</a></li>
                            <li {% if category == 'Musical Instruments' %}class="active"{% endif %}><a href="{{ path('discoverPans',{'category':'Musical Instruments'}) }}" > {% if category == 'Musical Instruments' %}<span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>{% endif %} Musical Instruments</a></li>
                            <li {% if category == 'Holiday Gifts' %}class="active"{% endif %}><a href="{{ path('discoverPans',{'category':'Holiday Gifts'}) }}" > {% if category == 'Holiday Gifts' %}<span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>{% endif %} Holiday Gifts</a></li>
                            <li {% if category == 'Home Decoration' %}class="active"{% endif %}><a href="{{ path('discoverPans',{'category':'Home Decoration'}) }}" > {% if category == 'Home Decoration' %}<span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>{% endif %} Home Decoration</a></li>
                            <li {% if category == 'Medical Software' %}class="active"{% endif %}><a href="{{ path('discoverPans',{'category':'Medical Software'}) }}" > {% if category == 'Medical Software' %}<span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>{% endif %} Medical Software</a></li>
                            <li {% if category == 'Beauty & Personal Care' %}class="active"{% endif %}><a href="{{ path('discoverPans',{'category':'Beauty & Personal Care'}) }}" > {% if category == 'Beauty & Personal Care' %}<span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>{% endif %} Beauty & Personal Care</a></li>
                            <li {% if category == 'Apparel & Textile Machinery' %}class="active"{% endif %}><a href="{{ path('discoverPans',{'category':'Apparel & Textile Machinery'}) }}" > {% if category == 'Apparel & Textile Machinery' %}<span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>{% endif %} Apparel & Textile Machinery</a></li>
                            <li {% if category == 'Books' %}class="active"{% endif %}><a href="{{ path('discoverPans',{'category':'Books'}) }}" > {% if category == 'Books' %}<span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>{% endif %} Books</a></li>
                            <li {% if category == 'Office Equipment' %}class="active"{% endif %}><a href="{{ path('discoverPans',{'category':'Office Equipment'}) }}" > {% if category == 'Office Equipment' %}<span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>{% endif %} Office Equipment</a></li>
                            <li><a href="{{ path('signin') }}"> Others</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Main Content -->

                <div class="main_content">

                    <!-- Products -->

                    <div class="products_iso">
                        <div class="row">
                            <div class="col">

                                <!-- Product Sorting -->

                                <div class="product_sorting_container product_sorting_container_top">
                                    {% set length = app.session.get('pub_discover_length') %}
                                    <ul class="product_sorting">
                                        <li>
                                            <span class="type_sorting_text">Default Sorting</span>
                                            <i class="fa fa-angle-down"></i>
                                            <ul class="sorting_type">
                                                <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "original-order" }'><span><a href="{{ path('discoverPans',{'category':category,'length': 15,'filter':'Default Sorting'}) }}">Default Sorting</a></span></li>
                                                <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "highest-price" }'><span><a href="{{ path('discoverPans',{'category':category,'length': 15,'filter':'Highest Price'}) }}">Highest Price</a></span></li>
                                                <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "lowest-price" }'><span><a href="{{ path('discoverPans',{'category':category,'length': 15,'filter':'Lowest Price'}) }}">Lowest Price</a></span></li>
                                            </ul>
                                        </li>
                                        <li>

                                            <span>Show</span>
                                            <span class="num_sorting_text">{{ length }}</span>
                                            <i class="fa fa-angle-down"></i>
                                            <ul class="sorting_num">
                                                <li class="num_sorting_btn"><span><a href="{{ path('discoverPans',{'category':category,'length': 15}) }}">15</a></span></li>
                                                <li class="num_sorting_btn"><span><a href="{{ path('discoverPans',{'category':category,'length': 30}) }}">30</a></span></li>
                                                <li class="num_sorting_btn"><span><a href="{{ path('discoverPans',{'category':category,'length': 60}) }}">60</a></span></li>
                                            </ul>
                                        </li>
                                    </ul>

                                </div>

                                <!-- Product Grid -->

                                <div class="product-grid">
                                    {% set pans =  app.session.get('pub_discover_pans') %}
                                    {% if pans|length > 0 %}
                                        {% for item in pans %}
                                            <div class="product-item men">
                                                <div class="product discount product_filter">
                                                    <div class="product_image">
                                                        <img src="{{ asset('images/pans/') }}{{ item.image }}" alt="">
                                                    </div>
                                                    <div class="favorite favorite_left"></div>
                                                    <div class="product_info">
                                                        <h6 class="product_name"><a href="single.html">{{ item.name }}</a></h6>
                                                        <small><i>{{ item.description }}</i></small>
                                                        <div class="product_price">${{ item.price }}</div>
                                                    </div>
                                                </div>
                                                <div class="red_button add_to_cart_button"><a href="{{ path('details',{'pan':item.id}) }}">Détails</a></div>
                                            </div>
                                        {% endfor %}

                                        {% else %}
                                            <small><i>Nothing to display</i></small>
                                    {% endif %}
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block PublicScripts  %}
    <script src="{{ asset('scripts/js/categories_custom.js') }}"></script>
{% endblock %}